    .login-form {
        width: 350px;
        margin: 0 auto;
        padding: 110px 0;
    }
    .login-form .form-size {
        color: #434343;
        border-radius: 1px;
        margin-bottom: 15px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10px;
        padding-left: 30px;
        padding-right:30px;
        padding-top: 30px;
        border-radius: 20px;
    }
    .login-form h4 {
        color: white;
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .login-form .avatar {
        color: #fff;
        margin: 0 auto 30px;
        text-align: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 9;
        background: #4aba70;
        padding: 15px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .login-form .avatar i {
        font-size: 62px;
    }
    .login-form .form-group input{
        border-radius: 20px;
    }
    .login-form .form-control, .login-form .btn {
        min-height: 40px;
        border-radius: 20px; 
        transition: all 0.5s;
    }
    .login-form .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .login-form .btn {
        background: #4aba70;
        border: none;
        line-height: normal;
    }
    .login-form .btn:hover, .login-form .btn:focus {
        background: #42ae68;
    }
    .login-form .checkbox-inline {
        float: left;
    }
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    .login-form .forgot-link {
        float: right;
    }
    .login-form .small {
        color: white;
        font-size: 18px;
    }
    .login-form a {
        color: #4aba70;
    }
    .login-error{
        color: red;
        font-size:15px;
        text-align: center; 
    }
    
    .login-form .space{
        margin-top: 20px;
    }
    .login-form .form-size .btn-width{
        display: -webkit-inline-box;
        width: 30%;    
    }
    .login-form .save-login{
        color: white;
    }
   .img{
       background-image: url("../assets/login.jpg");
       width: 100%;
       height: 100%;
       background-size: 100%;
    }
    .form-size{
        width: 400px;
        height: 560px;
    }

    .row .col-md-6{
        margin: auto;
    }
    .form-control {
        box-shadow: none;
        border-color: #ddd;
    }
    .form-control:focus {
        border-color: #4aba70; 
    }
    
    .login-form .space{
        margin-top: 20px;
    }
    .login-form .form-size .btn-width{
        display: -webkit-inline-box;
        width: 30%; 
    }
    .login-form .save-login{
        color: white;

    }
    #welcome-note{
        color:white;
        font-size: 20px;
        padding-top: 20px;
    }
    #about-info{
        color: white;
        padding:10px;
        list-style: none;
    }
    #block-size{
        color: #434343;
        border-radius: 1px;
        margin-bottom: 15px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10px;
        padding-left: 30px;
        padding-right:30px;
        padding-top: 30px;
        border-radius: 20px;
    }
    .container h2{
        color: #4aba70;
        font-size: 40px;
    }

    .login-form .display-content{
        display: contents;
    }

    .login-form .margin-left-55{
        margin-left: 55px;
    }

    .login-form .social-login .social-icon{
        padding: 0px 5px;
        color: white;
    }

    .login-form .social-login .facebook-btn{
       background: #507cc0;
       color: white;
    }

    .login-form .social-login .google-btn{
        background: #df4930;
        color: white;
    }

    .login-form .social-login{
        margin: 0px 55px;
    }

    .login-form .or-seperator {
        text-align: center;
        color:white;
    }

    .login-form .form-group .login-btn{
        margin: 0px 125px;
    }
   