    #processData {
		margin: 20px;
		color: white;
		font-family: 'Varela Round', sans-serif;
		background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../assets/processData.jpg");
		background-size: cover; 
	}

	.process-data #logo{
		font-family: 'Varela Round', sans-serif;
		font-size: 30px;
	}

	.process-data #choose-File input[type='file']{
		display:none;
	}	

	.process-data #choose-File{
		background: #4aba70;	
	}

	.process-data #choose-File:hover{
		background: #42ae68;	
	}

	.process-data .btn {
		background: #4aba70;
		border: none;
		line-height: normal;
		display: inline;
		margin: auto;			
	}
	.process-data .btn:hover, .process-data .btn:focus {
		background: #42ae68;
	}

	.process-data #input-table_wrapper{
		margin-top: 20px;
		background:rgba(0,0,0,0.7);
		border-radius: 20px;
	}

	.process-data #output-table_wrapper{
		margin-top: 30px;
		background:rgba(0,0,0,0.7);
		border-radius: 20px;
	}

	.process-data #input-table{
		text-align: center;
	}

	.process-data #input-table_length{
		margin-left: 10px;
		margin-top: 10px;
	}

	.process-data #input-table_filter{
		margin-right: 20px;
	}

	.process-data #output-table_filter{
		margin-right: 20px;
	}

	.process-data #output-table_length{
		margin-left: 10px;
		margin-top: 10px;
	}

	.prcocess-data #output-table{
		text-align: center;	
	}

	.process-data #output-table #output-table_wrapper .dt-buttons .btn-group{
		margin-left: 10px;
		margin-top: 10px;
	}

	.process-data .dataTables_length{
		color: white !important;
	}

	.process-data .dataTables_filter{
		color: white !important;
	}

	.process-data .dataTables_info{
		margin-top: 10px;
		margin-left: 10px;
		color: white !important;
	}

	.process-data .dataTables_paginate .pagination .paginate_button{
		background-color: #4aba70;
		border-color: #4aba70;
		border-radius: 5px;
	}

	.process-data .dataTables_paginate .pagination .paginate_button:hover{
		background: #4aba80;
		border-color: #4aba70;
		border-radius: 5px;
	}

	.process-data .dataTables_paginate .pagination .paginate_button a{
		color: white;
		background: #4aba70;
		border-color: #4aba70;
		border-radius: 5px;	
	}

	.process-data #calculate{
		display: none;
		justify-content: center;
		margin-top: 30px;
	}

	.process-data #logout{
		float: right;
		margin-right:10px;
	}

	.process-data #selectd-value{	
	    display: none;	
    	color: white;
    	margin: 10px 460px;
    	padding: 5px 35px;
    	background: #4aba70;
    	border-radius: 5px;
	}

	.process-data option{
		color: #4aba70;
		background: white;
	}

	.process-data .modal-header{
		color: #4aba70;
		background: white;
	}

	.process-data .modal-content .modal-body{
		color: black;
		text-align: start;
	}

	.process-data .modal-content .modal-body ul{
		list-style-type: none;
		display: inline-flex;
	}

	.process-data .modal-btn{
		float: right;
		padding: 9px 10px;
	}
	
	 #coloumError{
    	font-size: 20px;
    	color: white;
    }

    .mg-lt-60{
		margin-left: 60px;
    }

	.height-36{
	    height: 36px;
	}
