	#signup_page{
		background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../assets/login.jpg");
		background-size: cover;
	}

	 .signup-form .small{
     color: white;
     font-size: 18px;
    }
    .signup-form a {
        color: #4aba70;
    }
    .signup-form {
		width: 500px;
		margin: 0 auto;
		padding: 10px 0;
	}
    .signup-form h2 {
		color: #fff;
        margin: 0 0 20px 0;
		display: inline-block;
		padding: 0 20px 5px 0;
		border-bottom: 3px solid #5cd3b4;
    }
    .signup-form form {
		color: #fff;
		border-radius: 3px;
    	margin-bottom: 5px;
        background: rgba(0,0,0,0.5);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
        padding: 20px;
    }
	.signup-form .form-group {
		margin-bottom: 5px;
		border-radius: 10px;
	}
	.signup-form label {
		font-weight: normal;
		font-size: 13px;
	}
    .signup-form .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #4aba70;
		border-radius: 20px;
		margin-top: 10px;
		min-width: 140px;
    }

    .signup-form .btn:hover, .signup-form .btn:focus {
		background: #4aba70;
        outline: none !important;
	}
    .signup-form a {
		color: #5cd3b4;
		text-decoration: underline;
	}
	.signup-form a:hover {
		text-decoration: none;
	}
    .signup-form form a {
		color: #5cd3b4;
		text-decoration: none;
	}	
	.signup-form form a:hover {
		text-decoration: underline;
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
  		-webkit-appearance: none; 
  	}
